PORT=4000

# FE origin for CORS (comma-separated if multiple origins)
CORS_ORIGIN=http://localhost:4200

# Toggle MySQL integration
USE_MYSQL=true

# MySQL connection
MYSQL_HOST=mysql-204eae5d-khua8986-c613.h.aivencloud.com
MYSQL_PORT=20790
MYSQL_USER=avnadmin
MYSQL_PASSWORD=AVNS_6ARfnXQggm2nSpUu3rY
MYSQL_DATABASE=defaultdb
MYSQL_CONNECTION_LIMIT=20