PORT=4000

# FE origin for CORS (comma-separated if multiple origins)
CORS_ORIGIN=http://localhost:4200

# Toggle MySQL integration
USE_MYSQL=false

# MySQL connection
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=hrm
MYSQL_CONNECTION_LIMIT=10
